.element__btn-like{
  margin: 0;
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  border: 0;
  background-color: transparent;
  background-size: cover;
  transition: 0.3s;
}

.element__btn-like:hover{
  opacity: 0.5;
  cursor: pointer;
}
