.profile__user-info{
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  grid-column: span 2;
}

@media screen and (max-width: 767px) {
  .profile__user-info{
    text-align: center;
    font-size: 18px;
    line-height: 1.21;
  }
}